# IDE files
.idea/
.vscode/

# Build directories
build/
Debug/
cmake-build-debug/
cmake-build-debug-docker/
cmake-build-debug-visual-studio/

# Executable and library files
*.exe
*.exp
*.lib
*.pdb

# Data files
datasets/
*.csv
